.controlForm {
  padding: 20px;
  min-height: 500px;
  height: 100%;
  width: 100%;
}

.controlBody {
  min-height: 200px;
  height: 100%,
  width: 100%;
  clear: both;
}

.controlSide {
  height: 100%;
  width: 25%;
  float: left;
}

.controlSide button {
  width: 100%;
  background-color: rgb(235, 235, 235);
  border: none;
}

.controlSide button:hover {
  background-color: #f7f7f7;
  transition: background-color 300ms ease-in;
}

.controlContent {
  /* background-color: #f7f7f7; */

  padding: 10px 20px;
  text-align: left;
  float: right;
  width: 75%;
  height: 100%;
}

.controlFooter {
  clear: both;
  padding: 20px;
  width: 100%;
}

.deletePoll{
  width: 25px;
  height: 25px;
  background-color: #d3d3d3;

  border: none;
  outline: none;
}
.deletePoll:focus{
  border: none;
  outline: none;
}

.deletePoll:hover{
  color: white;
  background-color: rgb(194, 70, 70);
  transition: background-color 1s,color 500ms;
}