.controlForm {
  padding: 20px;
  min-height: 500px;
  height: 100%;
  width: 50%;
  min-width: 700px;
  margin: auto;
  background-color: #f8f8f8c5;
}

.controlBody {
  min-height: 200px;
  width: 100%;
  clear: both;
}

.controlSide {
  height: 100%;
  width: 25%;
  float: left;
}

.controlSide button {
  width: 100%;
  background-color: rgb(235, 235, 235);
  border: none;
}

.controlSide button:hover {
  background-color: #f7f7f7;
  transition: background-color 300ms ease-in;
}

.controlContent {
  /* background-color: #f7f7f7; */

  padding: 10px 20px;
  text-align: left;
  float: right;
  width: 75%;
  height: 100%;
}

.controlFooter {
  clear: both;
  padding: 20px;
  width: 100%;
}

.deletePoll,
.addOptions,
.addPoll {
  height: 25px;
  background-color: #d3d3d3;

  border: none;
  outline: none;
}
.deletePoll:focus,
.addOptions:focus,
.:focus {
  border: none;
  outline: none;
}

.deletePoll:hover {
  color: white;
  background-color: rgb(194, 70, 70);
  transition: background-color 500ms, color 500ms;
}

.addOptions:hover,
.addPoll:hover {
  color: white;
  background-color: rgb(70, 194, 87);
  transition: background-color 500ms, color 500ms;
}

.newPoll {
  height: 25px;
}
